<div id="wrapper" *ngIf="supportsWebsockets">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Begin Heading -->
      <div class="bg-white static-top shadow text-center mb-4 py-4">
        <h1 class="h2 text-gray-800">InGA Voice User Interface</h1>
      </div>
      <!-- End Heading -->

      <!-- Begin Page Content -->
      <div class="container">
        <app-connection-panel></app-connection-panel>
        <app-voice-settings-panel></app-voice-settings-panel>
        <app-analysis-situation-panel></app-analysis-situation-panel>
        <app-input-panel></app-input-panel>
        <app-result-panel></app-result-panel>
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Martin Straßer</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
</div>

<div class="alert alert-danger" *ngIf="!supportsWebsockets">
  We're sorry but InGA doesn't work without Websockets and TextEncoder. Your browser does not support Websockets.
  Please use an up-to-date browser.
</div>
