<h5 [translate]="'as.ci'">Context of Interest</h5>
<app-non-comparative [analysisSituation]="analysisSituation.contextOfInterest"></app-non-comparative>

<h5 [translate]="'as.cc'">Context of Comparison</h5>
<app-non-comparative [analysisSituation]="analysisSituation.contextOfInterest"></app-non-comparative>

<table class="table table-bordered">
  <tbody>
  <!-- Scores -->
  <tr class="d-flex">
    <th scope="row" class="col-3" [translate]="'as.scores'">Scores</th>
    <td class="col-9">
      <ul class="list-unstyled mb-0">
        <li *ngFor="let s of analysisSituation.scores" title="{{ s.displayableId }}">{{ s.title }}</li>
      </ul>
    </td>
  </tr>

  <!-- ScoreFilters -->
  <tr class="d-flex">
    <th scope="row" class="col-3" [translate]="'as.scoreFilters'">Score Filters</th>
    <td class="col-9">
      <ul class="list-unstyled mb-0">
        <li *ngFor="let sf of analysisSituation.scoreFilters" title="{{ sf.displayableId }}">{{ sf.title }}</li>
      </ul>
    </td>
  </tr>

  <!-- JoinConditions -->
  <tr class="d-flex">
    <th scope="row" class="col-3" [translate]="'as.joinConditions'">Join Conditions</th>
    <td class="col-9">
      <ul class="list-unstyled mb-0">
        <li *ngFor="let jc of analysisSituation.joinConditions" title="{{ jc.displayableId }}">{{ jc.title }}</li>
      </ul>
    </td>
  </tr>

  </tbody>
</table>
