<div class="card shadow mb-4" *ngIf="analysisSituation != null && result == null">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" [translate]="'as.title'">Current Analysis Situation</h6>
  </div>
  <div class="card-body" [ngSwitch]="type">
    <app-non-comparative *ngSwitchCase="'noncomparative'"
                         [analysisSituation]="analysisSituation"></app-non-comparative>
    <app-comparative *ngSwitchCase="'comparative'"
                     [analysisSituation]="analysisSituation"></app-comparative>
    <div *ngSwitchDefault class="text-center" style="margin: auto;">
      <span class="text-muted h5" [translate]="'as.invalidData'">Invalid data.</span>
    </div>
  </div>
</div>

<div style="display: flex; height: 100%;" class="text-center" *ngIf="analysisSituation == null && result == null">
  <div class="text-center" style="margin: auto;">
    <span class="text-muted h5" [translate]="'as.noData'">No data available.</span>
  </div>
</div>
