<div class="card shadow mb-4" id="displays">
  <div class="card-body" id="displays-body">
    <h4 class="p-3 text-white bg-dark text-center">{{ display.displayMessage }}</h4>
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let d of display.data; let i = index" data-id="{{ d.displayableId }}">
        <th scope="row" style="width: 2em;">{{ i + 1 }}</th>
        <td title="{{ d.details }}">{{ d.title }} <span class="text-muted text-xs" *ngIf="d.details != null && d.details.trim().length > 0">({{ d.details }})</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
