/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import "sb-admin-2.min.css";

label.voice-range {
  display: flex;
  justify-content: space-between;
}

tr.display-clickable-row {
  cursor: pointer;
}


/* Pivot Table */
.pvtUi {
  color: #3A3B45;
}

table.pvtTable {
  font-size: 1rem;
}

table.pvtTable thead tr th, table.pvtTable tbody tr th {
  background-color: #EDF1FB;
  border: 1px solid #D1D3E2;
  font-size: 1rem;
}

table.pvtTable tbody tr td {
  color: #3A3B45;
  background-color: #FFF;
  border: 1px solid #D1D3E2;
}

.pvtAxisContainer, .pvtVals {
  border: 1px solid #6E707E;
  background: #F8F9FC;
}

.pvtAxisContainer li.pvtPlaceholder {
  border: 1px dashed #EAECF4;
}

.pvtAxisContainer li span.pvtAttr {
  background: #F8F9FC;
  border: 1px solid #EAECF4;
}

.pvtTriangle {
  color: #3A3B45;
}

.pvtFilterBox {
  border: 1px solid #6E707E;
  background-color: #fff;
}

.pvtFilterBox .count {
  color: #D1D3E2;
}

.pvtCheckContainer {
  border-top: 1px solid #EDF1FB;
  border-bottom: 1px solid #EDF1FB;
}
